.believe {
  width: 100%;
  margin: 150px auto;
  position: relative;
}

.believe-text {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.believe-text h2 {
  font-size: 62px;
  line-height: 71px;
  font-weight: 700;
  text-align: center;
  margin: auto;
}

.believe-text span {
  color: #0b1d67;
}

.believe p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.action-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.action-card {
  width: 350px;
  height: 400px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s ease;
}

.action-icon {
  font-size: 48px;
  color: #0b1d67;
}

.action-card:hover {
  background-color: #0b1d67;
  color: #fff;
  transform: translateY(-10px);
  cursor: pointer;
}

.action-card:hover .action-icon {
  color: #fff;
}

.action-card:hover p {
  color: #fff;
}


.action-card h3 {
  font-size: 32px;
  font-weight: 400;
}

.action-card p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 10px;
  text-align: left;
  color: #333;
}

.action-card:hover .action-link {
  background-color: #fff;
  color: #0b1d67
}

.action-link {
  align-self: flex-end;
  margin-top: 20px;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  background-color: #0b1d67;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

.action-link:hover {
  transform: scale(0.95);
}

.about {
  width: 95%;
  height: 600px;
  display: flex;
  gap: 20px;
  margin: 150px auto;
}

.about-left {
  width: 50%;
  padding: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.about-left .dot {
  width: 10px;
  height: 10px;
  background-color: #0b1d67;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.about-left h2 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.about-left .gospel {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.about-left .devoted {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
}

.about-left .about-link {
  text-align: center;
  padding: 10px 15px;
  align-self: flex-start;
  background-color: #0b1d67;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-left .about-link:hover {
  transform: scale(0.95);
}

.about-right {
  width: 50%;
  position: relative;
}

.about-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.watch {
  width: 100%;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.watch-top {
  display: flex;
  gap: 10px;
  color: #fff;
  text-align: center;
}

.watch-top .watch-icon {
  font-size: 50px;
}

.watch-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-align: center;
}

.watch-bottom h3 {
  font-size: 15px;
  font-weight: 400;
}

.watch-bottom h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.live-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: pulse 2s infinite;
  display: inline-block;
  top: -10px;
}

.watch-bottom p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}


.watch-link-text {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: red;
  padding: 10px 20px;
  border-radius: 50px;
  transition: transform 0.4s ease;
}

.watch-link-text:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.watch-link-icon {
  background-color: #fff;
  color: red;
  font-size: 30px;
  padding: 5px;
  border-radius: 100%;
}

.media {
  width: 100%;
  margin: 150px auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.media-card {
  width: 320px;
  height: 450px;
  position: relative;
  border-radius: 20px;
}

.media-overlay {
  border-radius: 20px;

  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

.media-card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .believe-text {
    width: 90%;
  }

  .believe-text h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .believe-text p {
    font-size: 16px;
    line-height: 28px;
  }

  .action-cards {
    display: none;
  }

  .about {
    flex-direction: column;
    height: auto;
  }

  .about-right {
    width: 100%;
    height: 450px;
  }

  .about-image {
    object-position: top;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .watch-bottom h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .watch-bottom p {
    font-size: 16px;
    line-height: 28px;
  }

  .watch {
    height: auto;
    padding: 30px 20px;
  }
}