:root {
  --theme: rgba(127, 49, 163, .8);
}

nav {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
  padding: 5px 30px;
  border-radius: 50px;
  background-color: #fff;
  font-size: 13px;
}

.nav-mid {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: transform 0.4s ease;
}

nav .link:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo {
  text-decoration: none;
  padding: 8px;
}

.join-us {
  text-decoration: none;
  background-color: red;
  padding: 8px;
  border-radius: 50px;
  color: #fff;
  transition: transform 0.4s ease, background-color 0.4s ease;
}

.join-us:hover {
  background-color: darkred;
  transform: scale(0.95);
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.4s ease;
}

.menu-icon:hover {
  transform: scale(0.95);
  background-color: #333;
}

.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: var(--theme);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease;
}

.mobile-menu.open {
  transform: scaleX(1);
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.mobile-link {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 32px;
  color: white;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  nav {
    width: 95%;
    justify-content: space-between;
  }

  .nav-mid,
  .join-us {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}